
# IntelliJ
.idea
*.iml

# dependencies
**/node_modules

# build
**/.cache
**/dist
**/.dist
**/cdk.out
coverage

# config
.env.local

# misc
.DS_Store
!**/.gitkeep

# docker
docker-compose.yml

npm-debug.log*